*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    height: 300px;
    width: 400px;
    border: 2px solid black;
    text-align: center;
    background: rgb(65, 157, 218);
    border-radius: 0.6rem;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #222,-0.1rem 0 0.1rem #222;
       transition: all 0.4s;
}
.card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem #222,-0.2rem 0 0.2rem #222;
}
.card-tytle{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.form-field
{
    margin-bottom: 1rem;

}
label {
    font-size: 1.2rem;
}
input{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    cursor: pointer;
    font-size: 1.2rem;
    width: 36%;
}
.btn{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: .2rem;
    cursor: pointer;
    transition: all .3s;
    font-size: 1.2rem;
}
.btn:hover{
    background: rgb(63, 173, 233);
}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right:.4rem ;
}
p{
    text-align: center;

}
.large-text{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: bisque;
}